   *{
      margin: 0;
      padding: 0;
      font-family: 黑体
    }
    html,body{
      margin:0;
      width: 100%;
      height: 100%; 
    }


    /*音乐播放器*/
    .iconfont{
      font-size: 60px;
      color:white;
      position: absolute;
      right: 15px;
      bottom: 15px;
      z-index: 10;
      cursor: pointer;  
    }
    .icon-customerservice-fill,.icon-customerservice{
      display:inline-block;
      animation: myaction1 5s linear infinite;
      transform:rotate(360deg);
    }
    @keyframes myaction1{
      from{
        transform:rotate(0deg);
      }
      to{
        transform:rotate(360deg);
      }
    }
    .icon-heart-fill,.icon-Heart{
      font-size: 26px;
    }
    .icon-heart-fill{
      bottom: 80px;
      right: 50px;
    }
    .icon-Heart{
      bottom: 80px;
      right: 20px;
    }
    .icon-Heart:hover{
      transform:scale(1.5,1.5)
    }
    .icon-heart-fill:hover{
      transform:scale(1.5,1.5)
    }
    .swiper-container{
      width: 100vw;
      height: 100vh
    }
    .swiper-slide1{
      
    }
    .swiper-slide2{
      
    }
    .swiper-slide3{
    }


    /*背景图片*/
    .bg1{
      background-image:url(newimg/bg1.jpg);
    }
    .bg2{
      background-image:url(newimg/bg2.jpg);
    }
    .bg3{
      background-image:url(newimg/bg3.jpg);
    }
    .bg4{
      background-image:url(newimg/bg4.jpg);
    }
    .bg5{
      background-image:url(newimg/bg5.jpg);
    }
    .bg6{
      background-image:url(newimg/bg6.jpg);
    }
    .bg7{
      background-image:url(newimg/bg7.jpg);
    }
    .bg{
      width: 100vw;
      height: 100vh;
      background-size: 100vw 100vh;
/*      -webkit-filter: grayscale(85%) brightness(92%);
      -moz-filter: grayscale(85%) brightness(92%);
      -ms-filter: grayscale(85%) brightness(92%);
      -o-filter: grayscale(85%) brightness(92%);
      filter: grayscale(85%) brightness(92%);*/
    }
    p{
      width: 100vw;
      height: 100vh;
      border: 0 solid black
    }


    /*分页器*/
    .swiper-pagination-bullet{
      height: 16px;
      width: 16px;
      transition: 0.3s linear ;
      opacity: 0.5
    }
    .swiper-pagination-bullet:hover{
      background: #007aff;
      opacity: 1;
      transform:scale(1.6,1.6);
    }
    .swiper-pagination-bullet-active{
      animation: myaction2 1s linear infinite; 
    }
    @keyframes myaction2{
      from{
        transform:scale(1,1);
      }
      to{
        transform:scale(1.6,1.6);
      }
    }
    

    /*时间轴*/
    .time-horizontal {
      list-style-type: none;
      border-top: 1px solid white;
      max-width: 800px;
      padding: 0px;
      margin: 0px;
    } 
    .time-horizontal li {
      float: left;
      position: relative;
      text-align: center;
      width: 25%;
      padding-top: 10px;
    }
    .time-horizontal li p{
      display: inline-block;
      border: 1px solid black;
      height: 200px;
      color: white;
    }
    .time-horizontal li b:before {
      content: '';
      position: absolute;
      top: -10px;
      left: 47%;
      width: 12px;
      height: 12px;
      border: 2px solid black;
      border-radius: 8px;
      background: white;
    }
    /*卡片效果*/
    .card,.card-photo{
      border-radius:20px;
      width: 700px;
      height: 380px;
      position:absolute;
      top:calc(50% - 190px);
      left:calc(50% - 350px);
      transition:0.5s;
      background-color:rgba(255,255,255,0);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .card-photo{
      height: 300px;
      top:calc(50% - 110px);
    }
    .card:hover,.card-photo:hover{
      background-color:rgba(255,255,255,0.3);
      box-shadow: 0 0px 30px 15px rgba(0,0,0,0.65);
      border:solid 1px;
    }
    .card p{
      width: 100%;
      height: 100%;
      line-height: 95px;
      text-align: center;
      vertical-align: middle;
    }
    .container{
      position:absolute;
      top:calc(50%);
      left:calc(50% );
      z-index:103;
    }
    img{
      overflow: hidden;
      width: 150px;
      height:150px;
    }
    .photo{
      width: 150px;
      height: 150px;
      border-radius:50%;
      position:absolute;
      top:calc(50% - 185px);
      left:calc(50% - 75px);
      overflow: hidden;
      z-index:103;
    }


    /*学习方法*/
    #container{
      width:60%;
      height: 60%;
      position:absolute;
      top:calc(50% - 30%);
      left:calc(50% - 30%);
      border-bottom:5px solid white;
      transition:0.5s;
      background-color:rgba(255,255,255,0);
      display: flex;
      
    }
    #container:hover{
      background-color:rgba(255,255,255,0.7);

    }
    #container:hover li{
      color: black
    }
    .in1,.in2,.in3{
      height: 100%;
      width: 100%;

    }
    .in1{
      border-right:5px solid white;
    }
    .in2{
      border-right:5px solid white;
    }
    #container ul{
      list-style: none;
    }
    #container div{
      font-size: 25px;
      text-align: center;
      margin-bottom: 16px;
    }
    #container ul li{
      color: white;
      padding: 5px 0 5px 0;
      font-size: 20px;
      text-align: left;
    }
    .bg5 p{
      text-align: center;
      color: gray;
      font-size: 25px;
      position: absolute;
      top: calc(80% + 25px);
      display: inline-block;
    }
    .bg5 p:hover{
      color: white
    }

    /*联系本人*/
    .dubaibox{
      height:50%;
      width:40%;
      border:1px solid black;
      position:relative;
      top:calc(50% - 25%);
      left:calc(50% - 20%);
      display:flex;
      flex-direction: column;
      justify-content:center;
    }
    .top-right{
      height: 140px;
      width: 150px;
      border:solid orange;
      border-width:10px 10px 0 0;
      position:absolute;
      right:0;
      top:0;
    }
    .bottom-left{
      height: 140px;
      width: 150px;
      border:solid orange;
      border-width:0 0 10px 10px;
      position:absolute;
      bottom:0
    }
    .dubaibox p{
      width: 100%;
      text-align:center;
      vertical-align:middle;
    }

    /*侧边栏*/
    .button{
      position:fixed;
      left:calc(10% - 25px);
      top:50px;
      width: 50px;
      height: 50px; 
      border-radius:4em;
      cursor: pointer;
      z-index: 1000;
      background-color:rgba(255,255,255,0.3);
      transition: 0.5s linear; 
    }
    .button:hover{
      box-shadow:0 5px 5px 0px black;
      
      background-color:rgb(51,122,183);
    }
    #aside{
      width: 0%;
      height: 100%; 
      /*border-right:1px solid black;*/
      display:block;
      position: absolute;
      z-index: 500;
      background-color: rgb(227,227,227);
      transition: 0.3s linear;
      opacity: 0.8
    }
    .box{
      width: 100%;
      height:50%;
      position:relative;
      top:25%;
      display:flex;
      flex-direction:column;
      justify-content:  space-between ;
      overflow: hidden;
      opacity: 1
    }
    .box span{
      text-align:center;
      display: inline;
      opacity: 1
    }
    .box span span{
      cursor: pointer;
      color:rgb(104,104,104);
      font-size: 20px;
      transition: all 0.5s linear;
      opacity: 1
    }
    .box span span:hover{
      color: rgb(51,122,183);
      text-decoration:line-through;
      opacity: 1
    }
    .shang,.zhong,.xia{
      width: 30px;
      height: 5px;
      background-color: white;
      transition: 0.5s linear
    }
    .shang{
      margin:12px 0 0 10px;
      transform-origin:left;
        
    }
    .zhong,.xia{
      margin:5px 0 0 10px;
      transform-origin:left;
    }
    /*.button:hover .shang{
      transform-origin:left;
      transform:rotate(45deg) ;
        margin-left:15px
    }
    .button:hover .xia{
      transform-origin:left;
      transform:rotate(-45deg) ;
        margin-left:15px
    }
    .button:hover .zhong{
      width:0 
    }*/

    /*技能掌握*/
    .skill-container{
      min-width: 800px;
      min-height: 400px;
      width:60%;
      height: 60%;
      position:absolute;
      top:calc(50% - 30%);
      left:calc(50% - 30%);
     /* border:5px solid white;*/
      transition:0.5s;
      background-color:rgba(255,255,255,0);
      display: flex;
      justify-content: space-between;
    }
     .skill-box{
      width:180px;
      height:200px; 
      perspective:500px;       
    }
    .skill-box .front,.skill-box .back{
      position:absolute;  
      width:180px;
      height:200px;
      background:#fff;
      backface-visibility:hidden;
      transition: all 0.5s linear; 
      border:5px solid rgb(27,172,240);   
      border-radius: 20px;       
    }
    .skill-box .front{
      background:rgba(90,90,90,0.8);
    }
    .skill-box .back{
      background:rgba(90,90,90,0.8);
      transform:rotateX(180deg);
    }
    .skill-box:hover .front{
      transform:rotateX(180deg);
    }
    .skill-box:hover .back{
      transform:rotateX(360deg);
    }
    .first,.second,.third,.fourth {
      width: 180px;
      position: relative;
    }
    strong{
      display: inline-block;
      font-size: 20px;
      border-radius: 140px;
      width: 140px;
      height: 140px;
      line-height: 140px;
      position: absolute;
      left: calc(50% - 70px);
      top: calc(50% - 70px);
      vertical-align: middle;
      text-align: center;
    }
    .front-content{
      text-align: center;
      color: white;
      
    }
    .front-content .iconfont{
      position: relative;
      top: 0;
      left: 0;
      display: block;
      line-height: 100px;
    }
    .front-content span{
      font-size: 20px;
      display:block;
      line-height: 100px;
    }
    .back ul{
      list-style: none;
      margin:0;
      padding: 0;
    } 
    .back li{
      list-style: circle;
      color: white;
      margin:6px 0 0 20px;
      padding: 5px 2px 5px 0
    }


    

